 .container {
   width: 100%;
   height: 100%;
   padding: 0px 15px 0px 15px;
   margin: 0px auto;


        @include screen("mobi") {
          width: 480px;
          
        }

        @include screen("tablet") {
          width: 768px;
        }

        @include screen("desktop") {
                  width: 1200px;

                  .free-registration & {
                    display: flex;
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                  }

                    .navigation &,
                    .footer & {
                      justify-content: center;
                      //flex-direction: row;
                    }
        }
 }