:root {
  --transition-menu: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --primary-gradient: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.20))
}

$big-space: 94px;
$betw-space: 30px;
$menu-space: 32px;

$colors: (
  "primary": #1c21c4,
  "accent": #ffffff,
  "selectory-accent": rgba(100%, 0, 0, 0.8),
  "hover": #ffa600,
  "heading": #000000,
  "secondary-bgc": rgba(210, 220, 200, 0.5),
  "unvisible-bgc": rgba(255, 255, 255, 0),
  "placeholder-bgc": rgba(210, 220, 200, 0),

  "text": #212121,
  "text-on-dark": rgba(255, 255, 255, 0.6),
  "fill-icon": #afb1b8,
  "accent-bgc": rgba(33, 150, 243, 0.9),
  "backdrop-bgc": rgba(0, 0, 0, 0.2),
  "footer-bgc": #2f303a,
  
  "icon-on-dark": rgba(247,247,247,1),
  "border-examples": #eeeeee,
  "border-header": #ececec,
  "border-user-form": rgba(33, 33, 33, 0.2),
  "gradient": rgba(47, 48, 58, 0.4),
  "secondary-gradient": rgba(47, 48, 58, 0.8),
  "text-form": #757575,
);

@function getColor($key) {
  @return map-get($colors, $key);
}