<section class = "description">
    <div class = "container">
        <div class = "description_history">
            
            <p class ="description_introduction">За короткий промежуток времени мы смогли занять свою нишу в сфере онлайн курсов.</p>

            <ul class = "description_list list">
                <li class ="description_item">2 года 
                    <div class = "decor"></div>
                    <p class ="description_text">Столько лет наша школа существует и постоянно совершенствуется</p></li>
                <li class ="description_item">197
                    <div class="decor"></div>
                    <p class ="description_text">Количество выпускников, которые успешно выпустились</p></li>
                <li class ="description_item">126
                    <div class="decor"></div>
                    <p class ="description_text">Столько выпускников нашли себе работу после наших курсов</p></li>
        </ul>
        </div>

         <ul id = "process_edu" class = "description_process list">
            <h2 class="">Процесс обучения</h2> 
            <li class = "description_process_item">
                        <div class="decor_circle"></div><div class = "decor_scale"></div>
                <h3>Регистрация</h3>
                <p>Заполните форму контактными данными и ожидайте уведомления от нашего менеджера (messenger/звонок)</p></li>
            <li class = "description_process_item">
                        <div class="decor_circle orange"></div> <div class="decor_scale"></div>
                <h3>Участие</h3> 
                <p>Прослушайте бесплатное занятие (онлайн) и задайте все интересующие Вас вопросы о курсе</p></li>
            <li class = "description_process_item">
                        <div class="decor_circle orange"></div><div class="decor_scale"></div>
                <h3>Оплата</h3> 
                <p>Внесите оплату и тем самым обеспечьте себе место в группе на ближайший старт курса 
                            (разрешается внести 50% оплаты до начала курса для предварительного бронирования мест).</p></li>
            <li class = "description_process_item">
                        <div class="decor_circle orange"></div><div class="decor_scale"></div>
                <h3>Обучение</h3> 
                <p>В течении всего курса Вам доступны все материалы, записи занятий и консультации у тренера курса. 
                            А наши кураторы всегда рады помочь Вам как можно лучше усвоить курс.</p></li>
            <li class = "description_process_item">
                        <div class="decor_circle"></div>
                <h3>Финал</h3> 
                <p>После успешной сдачи экзамена Вы получаете сертификат об успешном окончании курса.</p></li>

            <button class="main-button" >Бесплатное занятие</button>
         </ul>
    </div>
</section>