<section class="question">
    <h2>FAQs</h2>
    <h3 class = "question__foreword">Ответы на популярные вопросы</h3>
        <ul class="question__list list">
            <li class="question__item"><h3 class = "question__about">Как проходит бесплатное занятие?</h3>
                    <p class = "question__answer" data-what>Вы оставляете свои данные, через некоторое время мы пишем вам время и день когда будет проводиться бесплатный урок. По
                    времени урок длится около 1 часа.</p>

                    <button type="button" class="modal__close " data-menu-show>
                        <svg class="modal__close__icon" >
                            <use href="./images/sprite.svg#icon-close-black"></use>
                        </svg>
                    </button>
                </li>
                 <li class="question__item"><h3 class = "question__about">Как проходит обучение?</h3>
                    <p class = "question__answer" data-what>Обучение проходит в онлайн формате. Вам будет комфортно слушать занятие находясь в любой точке мира.</p>

                    <button type="button" class="modal__close " data-menu-show>
                        <svg class="modal__close__icon">
                            <use href="./images/sprite.svg#icon-close-black"></use>
                        </svg>
                    </button>
                </li>
             <li class="question__item"><h3 class = "question__about">Насколько сложно после курса найти работу?</h3>
                    <p class = "question__answer" data-what>Если внимательно слушать курс от преподавателя и выполнять домашние задания, то шансы велики! Плюс, у нас есть коучинги по трудоустройству (подготовка и репетиция собеседований)</p>

                    <button type="button" class="modal__close " data-menu-show>
                        <svg class="modal__close__icon">
                            <use href="./images/sprite.svg#icon-close-black"></use>
                        </svg>
                    </button>
                </li>
             <li class="question__item"><h3>Что я получу после окончания курсов?</h3>
                    <p class = "question__answer" data-what>Вы получаете сертификат (электронный или бумажный) и конечно актуальные знания и навыки для выбранной специальности.</p>

                    <button type="button" class="modal__close " data-menu-button data-menu-close>
                        <svg class="modal__close__icon">
                            <use href="./images/sprite.svg#icon-close-black"></use>
                        </svg>
                    </button>
                </li>    
        </ul>

</section>