<section class="customer-reviews">
    <div class="container">
        <h2>Отзывы наших учеников</h2>
        <ul class="slider list">
            <li class="slider__item">
                <div class = "slider__thumb">
                 <img src="/images/feedb_one.jpg" alt="Client photo" class="slider__image">
                </div>
                <div class="slider__text-wrapper">
                    <p class="slider__text">Большое спасибо вам! Преподаватель объяснял все очень доходчиво и преподносил информацию круто и интересно.</p>
                </div>
            </li>
            <li class="slider__item">
                <div class="slider__thumb">
                 <img src="/images/feedb_two.jpg" alt="Client photo" class="slider__image"> 
                </div>
                <div class="slider__text-wrapper">
                    <p class="slider__text">Очень довольна, что выбрала вашу школу, отличное соотношение знаний и качества обучения. 
                    С интересом слушала все занятия и уже в течении двух месяцев нашла работу!</p>
                </div>    
            </li>
            <li class="slider__item">
                <div class="slider__thumb">
                 <img src="/images/luke-watk.jpeg" alt="Client photo" class="slider__image"> 
                </div>                 
                <div class="slider__text-wrapper">
                    <p class="slider__text">В школу «ITishka» пошел учиться по рекомендации друзей и в итоге не пожалел об этом. 
                    Теорию и практику преподают в очень интересном не скучном формате и показывают примеры на видео.</p>
                </div>
                
            </li>
        </ul>
    </div>
</section>