<section class = "footer">
    <div class = "container">
         <a class="logo animate__pulse link" href="./index.html"><img class ="" src = "https://static.tildacdn.com/tild3136-6464-4035-a166-366131316231/logo.png" alt="IT школа онлайн курсов" max-width="220px" width="220px"> </a>

        <a class="mobile-menu__tel link" href="tel:+380930076065 ">+38 093-007-60-65 </a> 
         
           <ul class="list social-list">

        <li class="social-list__item">
            <a href="#" class="social-list__link social-link-dark">
                <svg class="social-list__icon">
                    <use href="./images/sprite.svg#icon-facebook" width='20' height='20'></use>
                </svg>
            </a>
        </li>

        <li class="social-list__item">
            <a href="#" class="social-list__link social-link-dark">
                <svg class="social-list__icon">
                    <use href="./images/sprite.svg#icon-instagram" width='20' height='20'></use>
                </svg>
            </a>
        </li>
       
        
        <li class="social-list__item">
            <a href="#" class="social-list__link social-link-dark">
                <svg class="social-list__icon">
                    <use href="./images/sprite.svg#icon-telegram" width='20' height='20'></use>
                </svg>
            </a>
        </li>
    </ul>

    </div>
</section>