<header class=" ">

    <div class="container ">
        <!-- Верхнее меню -->

        <nav class = "navigation">
            <ul class="navigation_list  list "  >
                <li class="navigation_item"><a class="navigation_link link" href="#">Курсы</a></li>
                <li class="navigation_item"><a class="navigation_link link" href="#">Отзывы</a></li>
                <li class="navigation_item"><a class="navigation_link link" href="">Бесплатное занятие</a></li>
            </ul>
        
        
        <!-- лого -->
        
        <a class="logo animate__pulse link" href="./index.html"><img class ="" src = "https://static.tildacdn.com/tild3136-6464-4035-a166-366131316231/logo.png" alt="IT школа онлайн курсов" max-width="220px" width="220px"> </a>


            <ul class="navigation_list  list" >
                <li class="navigation_item"><a class="navigation_link link" href="#">Процес обучения</a></li>
                <li class="navigation_item"><a class="navigation_link  link" href="#">FAQs</a></li>
            </ul> 
            
             <!-- мобильная версия -->

             <button type="button" class="burger-btn" data-menu-button>
                <svg class="burger-btn__icon" >
                    <use href="./images/sprite.svg#icon-menu" ></use>
                </svg>

            </button>

         </nav>  

          

            <div class ="navigation-mobile_menu " data-menu>
                  <ul class=" list "  >
                <li class="navigation_item"><a class="navigation_link link" href="#">Курсы</a></li>
                <li class="navigation_item"><a class="navigation_link link" href="#">Отзывы</a></li>
                <li class="navigation_item"><a class="navigation_link link" href="">Бесплатное занятие</a></li>
                <li class="navigation_item"><a class="navigation_link link" href="#">Процес обучения</a></li>
                <li class="navigation_item"><a class="navigation_link  link" href="#">FAQs</a></li>
            </ul>
           

             <ul class="soclink list" >
                    <li> <a class="link link-menu" href="">Instagram</a> </li>
                    <li><a class="link"  href="">Twitter</a></li>
                    <li><a class="link"  href="">Facebook</a></li>
                    
                </ul>

                 <button  type="button" class="modal__close " data-menu-close>
                    <svg class="modal__close__icon">
                        <use href="./images/sprite.svg#icon-close-black"></use>
                    </svg>
                </button>
</div>
  </div>

</header>