<section class = "banner ">
<div class="container ">

<div class = "wrapper">
<div class = "wrapper_heading">
<h1 class ="animate__fadeInLeft">Курсы по тестированию и SMM.<br> Онлайн обучение с 2019 года.</h1>
</div>

        <div class = "custom-form">
                <form action="#" class="custom-information">
                <h3> Запишитесь на бесплатное занятие или посетите наш <span>Telegram </span> </h3>
                   <p class = "custom-form__message"> Оставьте свои данные</p>

                            <label class="user-info"> 
                                <span class="user-info__block">
                                <input name="name" type="text" class="user-info__input" placeholder="Имя" required minlength="3">
                    </span>
                    </label>
                  
                        <label class="user-info">
                            <span class="user-info__block">
                            <input name="tel" type="tel" class="user-info__input " placeholder="Телефон" required>
                      
                        </span>
                        </label>

                    <label class="user-info">
                        <span class="user-info__block">
                        <input name="user-email" type="email" class="user-info__input" placeholder="E-mail" required>
                        
                    </span>
                </label>
                
              <div class = "course">
                    <p class = "course">Курс</p>
                    <label>
                        <input type="radio" name="course" value="QA" checked />
                        QA
                    </label>
                    <label>
                        <input type="radio" name="course" value="SMM" />
                        SMM
                    </label>
                 
                    </form>
                    

                    <button class="main-button" type="submit"> Записаться </button>
                </div>
        </div>
            
        </div> 

</div>
</section>