<section class="free-registration">
    <div class="container">
        <h2 class="visually-hidden">REGISTRATION FOR FREE COURSE</h2>

<div class="img_thumb">
        <picture class ="work-space">
            <source
                srcset="./images/dawid-sobolewski.webp 2x"
                type="image/webp" media="(max-width: 1200px)">
            <source
                srcset="./images/dawid-sobolewski.jpg 2x "
                media="(max-width: 1200px)">

                <img src="images/dawid-sobolewski.jpg" alt="workspace">
                </picture>
                </div>

                <div class="custom-form">
                    <form action="#" class="custom-information">
                        <h3> 	
Запишись на бесплатное занятие <br>
Длительность 45 минут </h3>
                        <p class="custom-form__message">
Если ты, сомневаешься что не сможешь понять выбранный курс.<br>
То обязательно посети вводное занятие.<br>
Наши опытные преподаватели расскажут первичную информацию по интересующему тебя курсу, объяснят нюансы.</p> 
                        <label class="user-info">
                            <span class="user-info__block">
                                <input name="user-email" type="email" class="user-info__input" placeholder="E-mail" required>
                
                            </span>
                        </label>
                
                        <label class="user-info">
                            <span class="user-info__block">
                                <input name="name" type="text" class="user-info__input" placeholder="Имя" required minlength="3">
                            </span>
                        </label>
                
                        <label class="user-info">
                            <span class="user-info__block">
                                <input name="tel" type="tel" class="user-info__input " placeholder="Телефон" required>
                
                            </span>
                        </label>
                
                       
                
                        <div class="course">
                            <p class="course">Выберите свой курс</p>
                            <label>
                                <input type="radio" name="course" value="QA" checked />
                                QA
                            </label>
                            <label>
                                <input type="radio" name="course" value="SMM" />
                                SMM
                            </label>
                
                    </form>
                
                
                    <button class="main-button" type="submit"> Записаться </button>
                </div> 

    </div>
</section>