<section class = "registration-repeat">
<div class="container">
    <div class="custom-form">
        <form action="#" class="custom-information">
            <h3> Запишитесь на занятие </h3>
            <p class="custom-form__message"> Внесите свои контактные данные и мы свяжемся с вами в ближайшее время </p>
            
        <div class="user-info">
            <label >
                            <span class="user-info__block">
                                <input name="tel" type="tel" class="user-info__input " placeholder="Телефон" required>
                            </span>
            </label>

            <label >
                <span class="user-info__block">
                    <input name="name" type="text" class="user-info__input" placeholder="Имя" required minlength="3">
                </span>
            </label>

            <label >
                <span class="user-info__block">
                    <input name="user-email" type="email" class="user-info__input" placeholder="E-mail" required>

                </span>
            </label>
        </div>

            <p class = "custom-form__message"> Если вы решили сразу купить курс <br> <span class ="select_title"> Сделайте свой выбор </span></p> 

                    <select class = "select_course" name="Если вы решили сразу купить курс"  > 
                        <option value="QA online" >QA online</option> 
                        <option value="SMM online" >SMM online</option> 
                        <option value="QA +" >QA +</option> 
                    </select>
        </form>

        <button class="main-button" type="submit"> Записаться </button>
  
    <p class ="conditions">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</p>


 

</div>
</section>