<section class = "registration-repeat">
<div class="container">
    <div class="custom-form">
        <form action="#" class="custom-information">
            <h3> Запишитесь на занятие </h3>
            <p class="custom-form__message"> Внесите свои контактные данные и мы свяжемся с вами в ближайшее время </p>
            
            <label class="user-info">
                            <span class="user-info__block">
                                <input name="tel" type="tel" class="user-info__input " placeholder="Телефон" required>
                            </span>
            </label>
            <label class="user-info">
                <span class="user-info__block">
                    <input name="name" type="text" class="user-info__input" placeholder="Имя" required minlength="3">
                </span>
            </label>

           

            <label class="user-info">
                <span class="user-info__block">
                    <input name="user-email" type="email" class="user-info__input" placeholder="E-mail" required>

                </span>
            </label>

            <div class="course">
                <p class="course">Если вы решили сразу купить курс</p>
                <label>
                    <input type="radio" name="course" value="QA" checked />
                    QA
                </label>
                <label>
                    <input type="radio" name="course" value="SMM" />
                    SMM
                </label>

        </form>


        <button class="main-button" type="submit"> Записаться </button>
    </div>

    <p>Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</p>
</div>
</section>