.custom-form {
  @media screen and (max-width: 767px) {
    margin: 0px auto;  
    }

    max-width: 350px;
    padding: 34px;
    border-radius: 4px;
    background-color: getColor('text-on-dark'); 

      & h3 {
        @include font(18px, 600, 1.14);
        color: getColor('heading');
      }

      & span {
        color: getColor('selectory-accent');
      }
}

.custom-form__message {
  margin-top: 10px;
  @include font(12px, 400, 1.55);
  color: getColor('text');
  text-align: left;

      @media screen and (min-width: 1200px) {
        line-height: 1.17;
      } 
}

.custom-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px auto;

    @include font(12px, 400, 1.17);
    color: getColor('text-form');

  }

.user-info {
  width: 100%;
}

.user-info__block {
  position: relative;
  display: block;
  margin-top: 20px;

        
}

.user-info__input {
  width: 100%;
  height: 40px;
  padding-left: 18px;

  border: 1px solid getColor('border-user-form');
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid getColor('hover');
    outline: none;
  }
}

.course {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  @include font(16px, 300, 1.55);
  color: getColor('heading');

  & label {
    margin-top: 5px;
  }
}


 .free-registration {

      & .custom-form {
            @include aligh(flex, center);
            flex-direction: column;
            max-width: 580px;
            margin-left: auto;
            margin-right: auto;

            background-color: getColor('icon-on-dark');

                        h3 {
                          @include font(30px, 600, 1.23);

                                @media screen and (min-width: 1200px) {
                                  margin-bottom: 20px;
                                  @include font(42px, 600, 1.23);
                                  color: getColor('heading');  
                                }
                        }   
        }

      & .custom-form__message {
            @include font(16px, 300, 1.45);

                      @media screen and (min-width: 1200px) {
                      margin-bottom: 30px;
                      @include font(20px, 300, 1.55);
                      }
      }
      & .custom-information{
          @include font(16px, 400, 1.33);
      }
      & .user-info__input {
           margin-top: 30px;
           padding-left: 0px;

           background-color: getColor('icon-on-dark');
           border: 1px solid getColor('icon-on-dark'); 
           border-bottom: 1px solid getColor('fill-icon');
           border-radius: 0px;
      }
      & .course {
          margin-top: 25px;
          margin-bottom: 25px;
      }
 }