.social-list {
  @include aligh(flex, center);
  justify-content: center;
}

.social-list__item {
  display: flex;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-list__link {
  position: relative;
  @include aligh(flex, center);
  justify-content: center;

  @include item-size(33px, 33px);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: getColor("hover");
    svg {
      fill: getColor("unvisible-bgc");
    }
  }
}

.social-link-dark {
  background-color: getColor("accent");
}

.social-list__icon {
 @include item-size(30px, 30px);

  position: absolute;
  top: 19%;
  left: 19%;

  fill: getColor("text");
  
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}