.description {
  padding-top: 60px;

  @media screen and (min-width: 1199px) {
    padding-top: 150px;
  }
}

.description_introduction {
  @include font(22px, 300, 1.45);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;

  @media screen and (min-width: 1199px) {
    @include font(26px, 300, 1.45);
    max-width: 960px;
  }
}

.description_history {
  text-align: center;

  @include font(30px, 600, 1.23);
}

@media screen and (min-width: 768px) {
  .description_list {
    @include aligh(flex, center);
    justify-content: center;
    padding-bottom: 15px;
  }

  .description_item {
    width: 360px;
  }
}

.description_item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
}

.description_text {
  @include font(12px, 400, 1.45);

  @media screen and (min-width: 768px) {
    @include font(16px, 300, 1.55);
  }
}

.description_process {
    @include aligh(flex, center);
    flex-direction: column;
    justify-content: center;

  padding-top: 60px;
  padding-bottom: 30px;

  & h2 {
    @include font(30px, 600, 1.23);
    margin-bottom: 75px;
    text-align: center;

    @media screen and (min-width: 768px) {
      @include font(38px, 500, 1.17);
      margin-bottom: 90px;
    }
  }

  & h3 {
    margin-left: 20px;
    margin-bottom: 15px;

    @include font(18px, 600, 1.35);
  }

 
    
  
}

.description_process_item {
  position: relative;

  &:not(:last-child) {
    padding-bottom: 75px;
  }
  & p {
    padding-left: 20px;
    @include font(24px, 600, 1.23);
  }

  @media screen and (min-width: 768px) {
    max-width: 760px;
  }
}
// Линии

.decor {
  margin-top: 14px;
  margin-bottom: 14px;
  width: 100%;

  background-color: getColor('primary');
  height: 2px;
  opacity: 0.5;
}

.decor_scale {
  width: 2px;
  position: absolute;
  top: 0;
  left: 7px;
  right: 0;
  bottom: 0;

  margin-top: 20px;
  background: getColor('primary');
}

.decor_circle {
  width: 12px;
  height: 12px;

  position: absolute;
  padding: 4px 0;
  margin-top: 4px;
  margin-left: 2px;

  border: 2px solid getColor('primary');
  border-radius: 50%;
}

.orange {
  background-color: getColor('second-primary');
  border: 2px solid getColor('second-primary');
}
