.description {
  padding-top: 60px;

  @media screen and (min-width: 1199px) {
    padding-top: 150px;
  }
}

.description_introduction {
  @include font(22px, 300, 1.45);
  padding-bottom: 40px;

  @media screen and (min-width: 1199px) {
    @include font(26px, 300, 1.45);
    max-width: 960px;

    margin-left: auto;
    margin-right: auto;
  }
}

.description_history {
  text-align: center;

  @include font(30px, 600, 1.23);
}

@media screen and (min-width: 768px) {
  .description_list {
    @include aligh(flex, center);
    justify-content: center;
    padding-bottom: 15px;
  }

  .description_item {
    width: 360px;
  }
}

.description_item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
}

.description_text {
  @include font(12px, 400, 1.45);

  @media screen and (min-width: 768px) {
    @include font(16px, 300, 1.55);
  }
}

.decor {
  margin-top: 14px;
  margin-bottom: 14px;
  width: 100%;

  background-color: getColor('primary');
  height: 2px;
  opacity: 0.5;
}

.description_process {
  padding-top: 30px;
  padding-bottom: 15px;

  & h2 {
    @include font(30px, 600, 1.23);
    margin-bottom: 75px;
    text-align: center;

    @media screen and (min-width: 768px) {
      @include font(38px, 500, 1.17);
      margin-bottom: 90px;
    }
  }
}
