.banner {
  max-width: 100%;
  height: 100vh;
  padding: 50px 0px 50px 0px;

  background: getColor('footer-bgc');
  background-image: var(--primary-gradient), url('../images/photo.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .banner {
    background-image: var(--primary-gradient), url('../images/photo.jpg');
  }
}

.wrapper_heading {
  max-width: 550px;
  margin-bottom: 35px;

  & h1 {
    color: getColor('accent');
    @include font(32px, 500, 1.17);

    @media screen and (min-width: 768px) {
      @include font(65px, 600, 1.17);
    }
  }
}
