.banner {
  max-width: 1600px;
 // height: 400px;
  padding: 50px 0px 50px 0px;
  
 
  background: getColor("footer-bgc");
  background-image: var(--primary-gradient), url("../images/photo.jpg");


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  @include screen("desktop") {
   // height: 600px;
  }
}

.wrapper {
    display:flex;
    justify-content: space-between;
   // height: 100vh; 
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .banner {
    background-image: var(--primary-gradient), url("../images/photo.jpg");
  }
}

.wrapper_heading {

  max-width: 550px;

  & h1 {
    color: getColor("accent");
    @include font(48px, 600, 1.17);
    }
}