.free-registration {

    background-color: getColor('secondary-bgc');
    
    
        @include screen("desktop") {
        position: relative;
        height: 100%;
        }

}


.img_thumb{

    @include screen("desktop") {
    overflow: hidden;
    position: relative;
    width: 50%;
    transition: height ease-in-out .3s;
     }
}

.work-space {

    @include screen("desktop") {
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
}