.customer-reviews {
  position: relative;
  padding-top: 90px;

  & h2 {
    @include font(30px, 600, 1.23);
    text-align: center;
    margin-bottom: 90px;

    @media screen and (min-width: 768px) {
      @include font(38px, 600, 1.23);
    }
    @media screen and (min-width: 1200px) {
      @include font(42px, 600, 1.23);
    }
  }
}
.is-open {
  display: block;
}

.slider {
  text-align: center;
  padding-bottom: 170px;
}

.slider__image {
  margin-bottom: 29px;
  margin-right: auto;
  margin-left: auto;
  width: 160px;
  height: 160px;

  border-radius: 50%;
}

.slider__text,
.slider__location {
  color: getColor('heading');
}

.slider__text-wrapper {
  position: relative;
  margin-bottom: 52px;
  // padding: 40px 50px 20px 50px;
  // background-color: #fafafa;
  z-index: 1;
}

.slider__text {
  @include font(16px, 300, 1.45);
  padding: 0 42px;
  
}

.slider__location {
  @include font(14px, 500, 26px);
  margin-bottom: 30px;
}

.previous {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 10;
  transform: rotate(180deg);
  cursor: pointer;

  @include item-size(30px, 30px);
  & > svg {
    background-color: getColor('primary');
    fill: getColor('accent');
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }

  &:focus > svg,
  &:hover > svg {
    fill: getColor('hover');
  }
}

.next {
  position: absolute;
  top: 48%;
  right: 5%;
  z-index: 10;
  cursor: pointer;

  @include item-size(30px, 30px);
  & > svg {
    background-color: getColor('primary');
    fill: getColor('accent');
    width: 100%;
    height: 100%;

    border-radius: 50%;
  }

  &:focus > svg,
  &:hover > svg {
    fill: getColor('hover');
  }
}
.decor_dots_container {
  position: absolute;
  top: 75%;
  left: 48%;
  display: flex;

  padding: 10px;
}

.decor_dots,
.decor_dots_next,
.decor_dots_prev {
  width: 6px;
  height: 6px;
  background-color: getColor('primary');
  border-radius: 50%;

  margin-right: 10px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: getColor('hover');
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 479px) {
  .slider {
    max-width: 290px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 480px) {
  .slider__text-wrapper {
    &::before {
      left: 66px;
    }
  }
}

@media screen and (min-width: 768px) {
  .slider {
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 197px;
  }
  .slider__image {
    margin-bottom: 19px;
  }

  .slider__text-wrapper {
    padding: 47px 36px 28px 60px;
    margin-bottom: 42px;

    &::before {
      left: 40px;
      top: 30px;
    }

    &::after {
      bottom: -24px;
    }
  }

  .slider__text {
    @include font(18px, 300, 1.55);
    padding-left: 20px;
    padding-right: 47px;
    letter-spacing: 0.04em;
  }

  .slider__location {
    @include font(16px, 500, 30px);
    margin-bottom: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .slider {
    padding-left: 67px;
    padding-right: 67px;
    padding-bottom: 234px;
  }

  .slider__image {
    margin-bottom: 15px;
  }

  .slider__text-wrapper {
    padding: 47px 54px 32px 59px;
    margin-bottom: 34px;

    &::before {
      left: 50px;
      top: 32px;
    }

    &::after {
      bottom: -19px;
    }
  }

  .slider__text {
    @include font(16px, 500, 30px);
    padding-left: 28px;
    padding-right: 35px;
  }

  .slider__location {
    @include font(20px, 500, 37px);
  }
}

// &::before {
//   content: '';
//   position: absolute;
//   left: 71px;
//   top: 28px;
//   width: 54px;
//   height: 40px;
//   background-image: url('../images/quote.png');
//   z-index: -1;
// }

// &::after {
//   content: '';
//   position: absolute;
//   bottom: -34px;
//   left: 50%;
//   width: 32px;
//   height: 4px;
//   text-decoration: dotted;
//   transform: translateX(-50%);
//   background-image: url('../images/dots.png');
//   background-size: contain;
// }
